{% extends 'Admin_Temp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12">
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Title</th>
      <th scope="col">Feedback</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Reply</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.title}}</td>
      <td>{{i.feedback}}</td>
      <td>{{i.customer}}</td>
      <td>
        {% if i.reply == None %}
        <a class="btn btn-warning" href="{% url 'admin_reply' i.id %}">Reply</a>
        {% else %}
        {{ i.reply }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

      </div>
</div>
{% endblock %}