{% extends 'Admin_Temp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
  <div class="card-body">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-outline-danger" href="{% url 'add_district' %}" type="button">Add District</a>
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">sl_no</th>
      <th scope="col">Name</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.name}}</td>
<!--      <td>{{i.description}}</td>-->
<!--      <td>{{i.type}}</td>-->
<!--      <td><img src="{{i.image.url}}" width="300" height="150"></td>-->
      <td><a class="btn btn-danger" href="{% url 'delete_district' i.id %}">Delete</a> </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

      </div>
</div>
{% endblock %}